root = true

[*]
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true

[*.{css,js,html}]
charset = utf-8

[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
